.home__education
Frontend Developer

.home__social-link
https://www.linkedin.com/
https://github.com/
https://dribbble.com/

.home__scroll-name
Scroll Down
.section__subtitle | .section__title
My Intro
About Me

.about__title | .about__subtitle
Experience

Completed
48 + Projects

Support
Online 24/7

.about__description
Frontend developer, I create web pages with UI / UX user interface,
I have years of experience and many clients are happy  
