.footer__social-link
https://twitter.com/
https://www.facebook.com/

Testimonials
Projects

========== FOOTER ==========
.footer__link
About

.footer__title
Ansel


https://m.me/bedimcode

https://api.whatsapp.com/send?phone=51123456789&text=Hello, more information!s


.contact__button
mailto:examplemail@correo.com

Messenger
user.fb123


Whatsapp
999-888-777

.contact__card-title | .contact__card-data
Email
user@gmail.com


.contact__title
Talk to me

Write me your project


========== CONTACT ==========
.section__subtitle | .section__title
Get in touch
Contact Me

.testimonial__name
Jhon Doe

.section__subtitle | .section__title
My clients say
Testimonial